{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1 class="mb-4"><i class="bi bi-bar-chart-line"></i> Tableau de bord</h1>
<div class="row g-4">
    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body text-center">
                <i class="bi bi-box-seam display-4 text-primary"></i>
                <h4 class="my-2">{{ stats.nbProduits }}</h4>
                <div>Produits</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body text-center">
                <i class="bi bi-card-list display-4 text-success"></i>
                <h4 class="my-2">{{ stats.nbCommandes }}</h4>
                <div>Commandes</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body text-center">
                <i class="bi bi-currency-dollar display-4 text-warning"></i>
                <h4 class="my-2">{{ stats.ventesTotal|number_format(0, '.', ' ') }} DT</h4>
                <div>Chiffre d'affaires</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body text-center">
                <i class="bi bi-star-fill display-4 text-danger"></i>
                <h4 class="my-2">{{ stats.topProduit }}</h4>
                <div>Top Produit</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
